n8n-workflows/1-ai-chatbot.json
{
  "name": "RemotelyAvailable - AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "chat-trigger-001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [400, 0],
      "webhookId": "ra-chatbot"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the AI assistant for RemotelyAvailable.com, an AI automation agency that builds AI automations, voice agents, chatbots, and intelligent websites for businesses.\n\nIMPORTANT - SAVING DATA:\nYou have a tool called 'Save Lead Info' that saves customer information to Google Sheets.\n- Call this tool IMMEDIATELY after you receive EACH piece of information\n- When you get the customer's name → call the tool right away with just the name\n- When you get their business type → call the tool again to update\n- When you get their revenue → call the tool again to update\n- When you get their automation interest → call the tool again to update\n- The tool will automatically update the same customer record each time\n\nCONVERSATION FLOW:\n\n1. GREETING & NAME:\n   - Start with a warm, friendly greeting\n   - Ask for their name so you can address them personally\n   - Example: \"Hi there! Welcome to RemotelyAvailable. I'm here to help you explore how AI can transform your business. What's your name?\"\n   - IMMEDIATELY after they give their name → call 'Save Lead Info'\n\n2. LEARN ABOUT THEIR BUSINESS:\n   - Ask what type of business they run\n   - IMMEDIATELY after they answer → call 'Save Lead Info' to update\n\n3. UNDERSTAND THEIR SCALE:\n   - Ask about their current monthly revenue range (tactfully)\n   - Frame it as: \"To recommend the right solution, it helps to know your current scale. What's your approximate monthly revenue range?\"\n   - IMMEDIATELY after they answer → call 'Save Lead Info' to update\n\n4. IDENTIFY AUTOMATION NEEDS:\n   - Ask what type of AI automation they're interested in\n   - Mention options: AI Chatbots, AI Voice Agents, Workflow Automations, AI Websites, AI Content Systems, AI Consulting\n   - Provide brief helpful insights about their chosen area\n   - IMMEDIATELY after they answer → call 'Save Lead Info' to update\n\n5. BOOK A CALL (CTA):\n   - After gathering their info, recommend booking a free 30-minute strategy call\n   - Provide the Calendly link: CALENDLY_PLACEHOLDER\n   - Say something like: \"Based on what you've told me, I think we can really help! The next step would be a free 30-minute strategy call where we can map out a custom AI solution for [their business]. Book a time here: CALENDLY_PLACEHOLDER\"\n\nGUIDELINES:\n- Be conversational and natural, never robotic\n- Use the customer's name throughout\n- ALWAYS call the tool immediately when you receive any customer information\n- Keep responses concise (2-3 sentences max)\n- Be knowledgeable about AI automation — you represent an expert agency\n- Don't ask all questions at once — have a natural conversation flow\n- If they seem ready to book, provide the Calendly link immediately\n- If they ask about pricing, say it depends on the project scope and suggest the strategy call for a custom quote"
        }
      },
      "id": "ai-agent-001",
      "name": "AI Chatbot Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [700, 0]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-model-001",
      "name": "OpenAI GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [500, 240]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 15
      },
      "id": "memory-001",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [740, 240]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Chat Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Session ID": "={{ $('Chat Trigger').item.json.sessionId }}",
            "Name": "={{ $fromAI('Name', '', 'string') }}",
            "Business Type": "={{ $fromAI('Business_Type', '', 'string') }}",
            "Revenue": "={{ $fromAI('Revenue', '', 'string') }}",
            "Automation Interest": "={{ $fromAI('Automation_Interest', '', 'string') }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["Session ID"],
          "schema": [
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Type",
              "displayName": "Business Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue",
              "displayName": "Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Automation Interest",
              "displayName": "Automation Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sheets-tool-001",
      "name": "Save Lead Info",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [960, 240]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Chatbot Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Chatbot Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Chatbot Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead Info": {
      "ai_tool": [
        [
          {
            "node": "AI Chatbot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
