docs/lead-system/n8n-lead-fulfillment.json
{
  "name": "Website Lead Fulfillment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "lead-capture"
    },
    {
      "parameters": {
        "jsCode": "// Route each lead to the right email template.\n// Full email copy lives in docs/lead-system/emails.md; replace the short\n// defaults below with that copy (converted to HTML) when ready.\nconst BOOKING_URL = 'https://calendly.com/creative-remotelyavailable/30min';\nconst YT = 'https://youtube.com/@agenticali';\n\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst name = (body.name || 'there').split(' ')[0];\nconst email = body.email || '';\nconst source = body.source || 'unknown';\nconst painPoint = body.painPoint || '';\nconst timestamp = body.timestamp || new Date().toISOString();\n\nconst sign = `<p>Ali Ameen<br>Founder, RemotelyAvailable<br><a href=\"${YT}\">AI educator to 50,000+ students on YouTube</a></p>`;\nconst cta = `<p><a href=\"${BOOKING_URL}\"><strong>Book your free 30-minute call</strong></a> (no commitment, no hard sell)</p>`;\n\nconst FIVE = {\n  key: 'five-automations',\n  subject: `${name}, here are the 5 automations most teams launch first`,\n  html: `<p>Hi ${name},</p><p>Here are the five automations most teams start with: 1) lead replies within 60 seconds, 2) missed-call text-back, 3) invoice chasing that never forgets, 4) review collection on autopilot, 5) a Monday morning numbers email. Any one of them can be live inside two weeks.</p>${cta}${sign}`\n};\n\nconst AUDIT = {\n  key: 'local-audit',\n  subject: `${name}, your free growth audit (3 quick questions)`,\n  html: `<p>Hi ${name},</p><p>Thanks for requesting your free audit. Reply with: 1) your website address, 2) what you sell in one sentence, 3) the task that eats most of your team's week. Within 24 hours you'll get an honest audit: what's costing you enquiries, the automation we'd build first, and what it would save you monthly.</p>${cta}${sign}`\n};\n\nconst FIXES = {\n  'emails': { key: 'fix-emails', subject: `${name}, your plan for an inbox that answers itself`, html: `<p>Hi ${name},</p><p>Three fixes for an overflowing inbox: an AI first-responder that replies within 60 seconds, automatic inbox triage, and a website chatbot that deflects the questions before they become emails. Teams typically reclaim 10-15 hours a week.</p>${cta}${sign}` },\n  'invoices': { key: 'fix-invoices', subject: `${name}, your plan for paperwork that files itself`, html: `<p>Hi ${name},</p><p>Three fixes for admin overload: auto-generated invoices when a job completes, polite relentless payment chasing (day 3, day 10, flag at 14), and AI document filing. Most businesses recover 5-15% of quietly unpaid revenue.</p>${cta}${sign}` },\n  'missed-calls': { key: 'fix-missed-calls', subject: `${name}, your plan for a phone line that never misses`, html: `<p>Hi ${name},</p><p>Three fixes, rising in power: missed-call text-back (live in days), a 24/7 AI voice agent that answers and books (this recovered $1.2M/year for a logistics client), and automatic day 1/3/7 follow-up sequences.</p>${cta}${sign}` },\n  'content': { key: 'fix-content', subject: `${name}, your plan for a content engine that posts weekly`, html: `<p>Hi ${name},</p><p>Inconsistent content is a systems problem: a repurposing pipeline that turns one voice note into a week of posts, a calendar that fills itself, and approve-from-your-phone publishing. From \"when we remember\" to 5+ posts a week.</p>${cta}${sign}` },\n  'leads': { key: 'fix-leads', subject: `${name}, your plan for leads that qualify themselves`, html: `<p>Hi ${name},</p><p>The system: instant lead scoring against your ideal-client rules, smart routing (hot leads ping your phone with context), and an automatic follow-up machine. Our SaaS client booked 40% more demos in month one with this.</p>${cta}${sign}` },\n  'other': { key: 'fix-other', subject: `${name}, let's find your biggest automation win`, html: `<p>Hi ${name},</p><p>Your biggest drain isn't on our standard list, which makes it interesting. On a free 30-minute call we walk through a normal week and shortlist the repetitive, rule-based, high-volume tasks: that's where automation pays back fastest. You leave with a written plan either way.</p>${cta}${sign}` }\n};\n\nlet template;\nif (source === 'website-lead-popup') {\n  template = FIXES[painPoint] || FIXES['other'];\n} else if (source.startsWith('location-page') || source.startsWith('location-hub')) {\n  template = AUDIT;\n} else {\n  template = FIVE;\n}\n\nreturn [{\n  json: {\n    timestamp,\n    name: body.name || '',\n    email,\n    source,\n    painPoint,\n    template: template.key,\n    subject: template.subject,\n    html: template.html\n  }\n}];"
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Pick Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Log Lead to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 0]
    },
    {
      "parameters": {
        "fromEmail": "hello@remotelyavailable.com",
        "toEmail": "={{ $('Pick Template').item.json.email }}",
        "subject": "={{ $('Pick Template').item.json.subject }}",
        "html": "={{ $('Pick Template').item.json.html }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Send Lead Magnet",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 0]
    },
    {
      "parameters": {
        "fromEmail": "hello@remotelyavailable.com",
        "toEmail": "REPLACE_WITH_YOUR_NOTIFICATION_EMAIL",
        "subject": "=New lead: {{ $('Pick Template').item.json.name }} ({{ $('Pick Template').item.json.source }})",
        "emailFormat": "text",
        "text": "=Name: {{ $('Pick Template').item.json.name }}\nEmail: {{ $('Pick Template').item.json.email }}\nSource: {{ $('Pick Template').item.json.source }}\nPain point: {{ $('Pick Template').item.json.painPoint }}\nSent template: {{ $('Pick Template').item.json.template }}\nTime: {{ $('Pick Template').item.json.timestamp }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Notify Ali",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true }",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [[{ "node": "Pick Template", "type": "main", "index": 0 }]]
    },
    "Pick Template": {
      "main": [[{ "node": "Log Lead to Sheet", "type": "main", "index": 0 }]]
    },
    "Log Lead to Sheet": {
      "main": [[{ "node": "Send Lead Magnet", "type": "main", "index": 0 }]]
    },
    "Send Lead Magnet": {
      "main": [[{ "node": "Notify Ali", "type": "main", "index": 0 }]]
    },
    "Notify Ali": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
